.contain {
    width: 900px;
    margin: 0 auto 0 auto;
    /*border:1px solid red;*/
}

section {
    /*border: 1px solid blue;*/
}

.nav, ul {
    list-style:none;
}

.nav li {
    display: inline;
}

.nav a {
    display:inline-block;
    text-decoration: none;
    padding:10px;
}

.nav a:hover {
    text-decoration: underline;
}